Package: bash
Version: 5.1.16-1
Depends: libc, libncurses6, libreadline8
Source: feeds/packages/utils/bash
SourceName: bash
License: GPL-3.0-or-later
LicenseFiles: COPYING
Section: utils
SourceDateEpoch: 1641862908
CPE-ID: cpe:/a:gnu:bash
Maintainer: Marcel Denia <naoir@gmx.net>
Architecture: mips_mips32
Installed-Size: 415293
Description:  Bash is an sh-compatible command language interpreter that executes
 commands read from the standard input or from a file. Bash also
 incorporates useful features from the Korn and C shells (ksh and csh).
